rich
requests>=2.32.4
pandas>=2.2.3
selenium>=4.33.0
webdriver-manager>=4.0.2
python-dateutil>=2.9.0.post0
asyncio
python-multipart
uvicorn[standard]
fastapi
autogen-core
autogen-ext[openai]
autogen-agentchat
tiktoken
openai
beautifulsoup4==4.13.4
certifi==2025.6.15    
charset-normalizer==3.4.2
idna==3.10
soupsieve==2.7
typing_extensions==4.14.0
urllib3==2.5.0
aiohttp>=3.8.0
sqlmodel>=1.4.0
sqlalchemy>=2.0.0
webauthn>=1.0.0